*/__pycache__/*
Results/*
.*
*.log
hasextract/evaluation/__pycache__/__init__.cpython-310.pyc
hasextract/evaluation/__pycache__/evaluator.cpython-310.pyc
hasextract/kext/__pycache__/knowledgeextractor.cpython-310.pyc
hasextract/kext/modules/__pycache__/entityfishing.cpython-310.pyc
hasextract/kext/modules/__pycache__/ncboannotator.cpython-310.pyc
hasextract/kext/modules/__pycache__/spotlight.cpython-310.pyc
hasextract/kext/modules/__pycache__/termsuite.cpython-310.pyc
hasextract/kext/modules/__pycache__/text2tcs.cpython-310.pyc
hasextract/kext/modules/__pycache__/usea.cpython-310.pyc
hasextract/kext/__pycache__/knowledgeextractor.cpython-310.pyc
hasextract/rdf_mapper/__pycache__/__init__.cpython-310.pyc
hasextract/rdf_mapper/__pycache__/merger.cpython-310.pyc
hasextract/util/__pycache__/__init__.cpython-310.pyc
hasextract/util/__pycache__/cached_requests.cpython-310.pyc
hasextract/util/__pycache__/logging.cpython-310.pyc
hasextract/util/__pycache__/segmentation.cpython-310.pyc
hasextract/kext/__pycache__/knowledgeextractor.cpython-310.pyc
hasextract/kext/modules/__pycache__/entityfishing.cpython-310.pyc
hasextract/kext/modules/__pycache__/ncboannotator.cpython-310.pyc
hasextract/kext/modules/__pycache__/spotlight.cpython-310.pyc
hasextract/kext/modules/__pycache__/termsuite.cpython-310.pyc
hasextract/kext/modules/__pycache__/text2tcs.cpython-310.pyc
hasextract/kext/modules/__pycache__/usea.cpython-310.pyc
hasextract/rdf_mapper/__pycache__/mapper.cpython-310.pyc
hasextract/util/__pycache__/visitor.cpython-310.pyc
hasextract/kext/modules/__pycache__/entityfishing.cpython-310.pyc
hasextract/kext/modules/__pycache__/ncboannotator.cpython-310.pyc
hasextract/kext/modules/__pycache__/spotlight.cpython-310.pyc
hasextract/kext/modules/__pycache__/termsuite.cpython-310.pyc
hasextract/kext/modules/__pycache__/text2tcs.cpython-310.pyc
hasextract/kext/modules/__pycache__/usea.cpython-310.pyc