hasextract/__pycache__/__init__.cpython-39.pyc
hasextract/__pycache__/__init__.cpython-310.pyc
hasextract/__pycache__/logging.cpython-310.pyc
hasextract/__pycache__/pdf.cpython-39.pyc
hasextract/__pycache__/pdf.cpython-310.pyc
hasextract/__pycache__/util.cpython-310.pyc
hasextract/kext/__pycache__/__init__.cpython-39.pyc
hasextract/kext/__pycache__/__init__.cpython-310.pyc
hasextract/kext/__pycache__/evaluator.cpython-39.pyc
hasextract/kext/__pycache__/evaluator.cpython-310.pyc
hasextract/kext/__pycache__/knowledgeextractor.cpython-39.pyc
hasextract/kext/__pycache__/knowledgeextractor.cpython-310.pyc
hasextract/kext/__pycache__/TBXTools.cpython-39.pyc
hasextract/kext/__pycache__/TBXTools.cpython-310.pyc
Results/Entity Linking/command.txt
Results/Entity Linking/Comparing terms and entities.xlsx
Results/Entity Linking/dictionary.tsv
Results/Entity Linking/EF_Annotation.json
Results/Entity Linking/ef_offset.json
Results/Entity Linking/SpLt_Annotation.ttl
Results/KG Construction/dbpedia_links.csv
Results/KG Construction/lombalgie_visualisation.html
Results/KG Construction/lombalgie.ttl
Results/KG Construction/Text2TCS_triples.json
Results/KG Construction/text2TCS_triples.xlsx
Results/Terms Extraction/comparing_terms_of_paragraph.xlsx
Results/Terms Extraction/medicalTerms VS AllTerms.xlsx
Results/Terms Extraction/medicalTerms.json
Results/Terms Extraction/paragraphe.txt
Results/Terms Extraction/Terms of Terminology.json
Results/Terms Extraction/Terms_termsuite.xlsx
Results/Text Extraction/TextExtracted.txt
Results/Text Extraction/Tables/tableau0.xlsx
Results/Text Extraction/Tables/tableau1.xlsx
Results/Text Extraction/Tables/tableau2.xlsx
Results/Text Extraction/Tables/tableau3.xlsx
Results/Text Extraction/Tables/tableau4.xlsx
Results/Text Extraction/Tables/tableau5.xlsx
Results/Text Extraction/Tables/tableau6.xlsx
Results/Text Extraction/Tables/tableau7.xlsx
Results/Text Extraction/Tables/tableau8.xlsx
Results/Text Extraction/Tables/tableau9.xlsx
Results/Text Extraction/Tables/tableau10.xlsx
Results/Text Extraction/Tables/tableau11.xlsx
Results/Text Extraction/Tables/tableau12.xlsx
Results/Text Extraction/Tables/tableau13.xlsx
Results/Text Extraction/Tables/tableau14.xlsx
Results/Text Extraction/Tables/tableau15.xlsx
Results/Text Extraction/Tables/tableau16.xlsx
Results/Text Extraction/Tables/tableau17.xlsx
Results/Text Extraction/Tables/tableau18.xlsx
Results/Text Extraction/Tables/tableau19.xlsx
Results/Text Extraction/Tables/tableau20.xlsx
Results/Text Extraction/Tables/tableau21.xlsx
Results/Text Extraction/Tables/tableau22.xlsx
Results/Text Extraction/Tables/tableau23.xlsx
Results/Text Extraction/Tables/tableau24.xlsx
Results/Text Extraction/Tables/tableau25.xlsx
Results/Text Extraction/Tables/tableau26.xlsx
Results/Text Extraction/Tables/tableau27.xlsx
Results/Text Extraction/Tables/tableau28.xlsx
Results/Text Extraction/Tables/tableau29.xlsx
Results/Text Extraction/Tables/tableau30.xlsx
Results/Text Extraction/Tables/tableau31.xlsx
Results/Text Extraction/Tables/tableau32.xlsx
Results/Text Extraction/Tables/tableau33.xlsx
Results/Text Extraction/Tables/tableau34.xlsx
Results/Text Extraction/Tables/tableau35.xlsx
Results/Text Extraction/Tables/tableau36.xlsx
Results/Text Extraction/Tables/tableau37.xlsx
Results/Text Extraction/Tables/tableau38.xlsx
Results/Text Extraction/Tables/tableau39.xlsx
Results/Text Extraction/Tables/tableau40.xlsx
Results/Text Extraction/Tables/tableau41.xlsx
Results/Text Extraction/Tables/tableau42.xlsx
Results/Text Extraction/Tables/tableau43.xlsx
Results/Text Extraction/Tables/tableau44.xlsx
Results/Text Extraction/Tables/tableau45.xlsx
Results/Text Extraction/Tables/tableau46.xlsx
Results/Text Extraction/Tables/tableau47.xlsx
Results/Text Extraction/Tables/tableau48.xlsx
Results/Text Extraction/Tables/tableau49.xlsx
Results/Text Extraction/Tables/tableau50.xlsx
Results/Text Extraction/Tables/tableau51.xlsx
Results/Text Extraction/Tables/tableau52.xlsx
Results/Text Extraction/Tables/tableau53.xlsx
Results/Text Extraction/Tables/tableau54.xlsx
Results/Text Extraction/Tables/tableau55.xlsx
Results/Text Extraction/Tables/tableau56.xlsx
Results/Text Extraction/Tables/tableau57.xlsx
Results/Text Extraction/Tables/tableau58.xlsx
Results/Text Extraction/Tables/tableau59.xlsx
Results/Text Extraction/Tables/tableau60.xlsx
Results/Text Extraction/Tables/tableau61.xlsx
Results/Text Extraction/Tables/tableau62.xlsx
Results/Text Extraction/Tables/tableau63.xlsx
Results/Text Extraction/Tables/tableau64.xlsx
Results/Text Extraction/Tables/tableau65.xlsx
Results/Text Extraction/Tables/tableau66.xlsx
Results/Text Extraction/Tables/tableau67.xlsx
Results/Text Extraction/Tables/tableau68.xlsx
Results/Text Extraction/Tables/tableau69.xlsx
Results/Text Extraction/Tables/tableau70.xlsx
Results/Text Extraction/Tables/tableau71.xlsx
Results/Text Extraction/Tables/tableau72.xlsx
Results/Text Extraction/Tables/tableau73.xlsx
Results/Text Extraction/Tables/tableau74.xlsx
Results/Text Extraction/Tables/tableau75.xlsx
Results/Text Extraction/Tables/tableau76.xlsx
Results/Text Extraction/Tables/tableau77.xlsx
Results/Text Extraction/Tables/tableau78.xlsx
Results/Text Extraction/Tables/tableau79.xlsx
Results/Text Extraction/Tables/tableau80.xlsx
Results/Text Extraction/Tables/tableau81.xlsx
Results/Text Extraction/Tables/tableau82.xlsx
Results/Text Extraction/Tables/tableau83.xlsx
Results/Text Extraction/Tables/tableau84.xlsx
Results/Text Extraction/Tables/tableau85.xlsx
Results/Text Extraction/Tables/tableau86.xlsx
Results/Text Extraction/Tables/tableau87.xlsx
Results/Text Extraction/Tables/tableau88.xlsx
Results/Text Extraction/Tables/tableau89.xlsx
Results/Text Extraction/Tables/tableau90.xlsx
Results/Text Extraction/Tables/tableau91.xlsx
Results/Text Extraction/Tables/tableau92.xlsx
Results/Text Extraction/Tables/tableau93.xlsx
Results/Text Extraction/Tables/tableau94.xlsx
Results/Text Extraction/Tables/tableau95.xlsx
Results/Text Extraction/Tables/tableau96.xlsx
Results/Text Extraction/Tables/tableau97.xlsx
Results/Text Extraction/Tables/tableau98.xlsx
Results/Text Extraction/Tables/tableau99.xlsx
Results/Text Extraction/Tables/tableau100.xlsx
Results/Text Extraction/Tables/tableau101.xlsx
Results/Text Extraction/Tables/tableau102.xlsx
Results/Text Extraction/Tables/tableau103.xlsx
Results/Text Extraction/Tables/tableau104.xlsx
Results/Text Extraction/Tables/tableau105.xlsx
Results/Text Extraction/Tables/tableau106.xlsx
Results/Text Extraction/Tables/tableau107.xlsx
Results/Text Extraction/Tables/tableau108.xlsx
Results/Text Extraction/Tables/tableau109.xlsx
Results/Text Extraction/Tables/tableau110.xlsx
Results/Text Extraction/Tables/tableau111.xlsx
Results/Text Extraction/Tables/tableau112.xlsx
Results/Text Extraction/Tables/tableau113.xlsx
Results/Text Extraction/Tables/tableau114.xlsx
Results/Text Extraction/Tables/tableau115.xlsx
Results/Text Extraction/Tables/tableau116.xlsx
Results/Text Extraction/Tables/tableau117.xlsx
Results/Text Extraction/Tables/tableau118.xlsx
Results/Text Extraction/Tables/tableau119.xlsx
Results/Text Extraction/Tables/tableau120.xlsx
Results/Text Extraction/Tables/tableau121.xlsx
Results/Text Extraction/Tables/tableau122.xlsx
Results/Text Extraction/Tables/tableau123.xlsx
Results/Text Extraction/Tables/tableau124.xlsx
Results/Text Extraction/Tables/tableau125.xlsx
Results/Text Extraction/Tables/tableau126.xlsx
Results/Text Extraction/Tables/tableau127.xlsx
Results/Text Extraction/Tables/tableau128.xlsx
Results/Text Extraction/Tables/tableau129.xlsx
Results/Text Extraction/Tables/tableau130.xlsx
Results/Text Extraction/Tables/tableau131.xlsx
Results/Text Extraction/Tables/tableau132.xlsx
Results/Text Extraction/Tables/tableau133.xlsx
Results/Text Extraction/Tables/tableau134.xlsx
Results/Text Extraction/Tables/tableau135.xlsx
Results/Text Extraction/Tables/tableau136.xlsx
Results/Text Extraction/Tables/tableau137.xlsx
Results/Text Extraction/Tables/tableau138.xlsx
Results/Text Extraction/Tables/tableau139.xlsx
Results/Text Extraction/Tables/tableau140.xlsx
Results/Text Extraction/Tables/tableau141.xlsx
Results/Text Extraction/Tables/tableau142.xlsx
Results/Text Extraction/Tables/tableau143.xlsx
Results/Text Extraction/Tables/tableau144.xlsx
Results/Text Extraction/Tables/tableau145.xlsx
Results/Text Extraction/Tables/tableau146.xlsx
Results/Text Extraction/Tables/tableau147.xlsx
Results/Text Extraction/Tables/tableau148.xlsx
Results/Text Extraction/Tables/tableau149.xlsx
Results/Text Extraction/Tables/tableau150.xlsx
Results/Text Extraction/Tables/tableau151.xlsx
Results/Text Extraction/Tables/tableau152.xlsx
Results/Text Extraction/Tables/tableau153.xlsx
Results/Text Extraction/Tables/tableau154.xlsx
Results/Text Extraction/Tables/tableau155.xlsx
Results/Text Extraction/Tables/tableau156.xlsx
Results/Text Extraction/Tables/tableau157.xlsx
Results/Text Extraction/Tables/tableau158.xlsx
Results/Text Extraction/Tables/tableau159.xlsx
Results/Text Extraction/Tables/tableau160.xlsx
Results/Text Extraction/Tables/tableau161.xlsx
Results/Text Extraction/Tables/tableau162.xlsx
Results/Text Extraction/Tables/tableau163.xlsx
Results/Text Extraction/Tables/tableau164.xlsx
Results/Text Extraction/Tables/tableau165.xlsx
Results/Text Extraction/Tables/tableau166.xlsx
Results/Text Extraction/Tables/tableau167.xlsx
Results/Text Extraction/Tables/tableau168.xlsx
Results/Text Extraction/Tables/tableau169.xlsx
Results/Text Extraction/Tables/tableau170.xlsx
Results/Text Extraction/Tables/tableau171.xlsx
Results/Text Extraction/Tables/tableau172.xlsx
Results/Text Extraction/Tables/tableau173.xlsx
Results/Text Extraction/images/p14-270.png
Results/Text Extraction/images/p15-272.png
Results/Text Extraction/images/p16-274.png
Results/Text Extraction/images/p126-399.png
Results/Text Extraction/images/p128-403.png
Results/Text Extraction/images/p129-406.png
Results/Text Extraction/images/p131-409.png
Results/Text Extraction/images/p132-412.png
Results/Text Extraction/images/p138-445.png
Results/Text Extraction/images/p144-479.png
Results/Text Extraction/images/p144-486.png
Results/Text Extraction/images/p144-493.png
hasextract/kext/modules/__pycache__/__init__.cpython-39.pyc
hasextract/kext/modules/__pycache__/__init__.cpython-310.pyc
hasextract/kext/modules/__pycache__/tbx.cpython-39.pyc
hasextract/kext/modules/__pycache__/tbx.cpython-310.pyc
hasextract/kext/modules/__pycache__/termsuite.cpython-39.pyc
hasextract/kext/modules/__pycache__/termsuite.cpython-310.pyc
hasextract/kext/modules/__pycache__/text2tcs.cpython-39.pyc
hasextract/kext/modules/__pycache__/text2tcs.cpython-310.pyc
